/* Fichier CSS pour le Projet 2: Développement de la maquette de l'index du site Reservia */

/* Définition d'une taille standard pour les fonts de la page*/
* {
	font-size: 1em;
}

/* ------ Début du bloc entourant toute la page ------ */
#blockPage {
	max-width: 1440px;
	margin: auto;
	padding: 40px;
	background-color: red;
}
/* ------ Fin du bloc entourant la page ------ */



/* ------ Début du HEADER ------ */
/* Barre de filtres */
#barreFiltres {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

/* Mot "Filtres" */
p {
	margin-right: 40px;
}

/* Filtres */
.filtre {
	margin-right: 30px;
	background-color: white;
	border: #F2F2F2 3px solid;
	border-radius: 35px;
	display: flex;
	justify-content: center;
}
.pictoFiltre {
	width: 50px;
	margin-right: 20px;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titreFiltre {
	width: auto;
}
/* ------ Fin du HEADER ------ */



/* ------ Début du MAIN ------*/
/* block des hébergements et des hébergements populaires */
#blockHebergements {
	width: auto;
	background-color: yellow;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

/* Block des hébergements */
article {
	width: 780px;
	background-color: blue;
}

/* Block des hébergements populaires */
aside {
	width: 460px;
	background-color: green;
}
/* ------ Fin du MAIN ------ */



/* ------ Début du FOOTER ------ */

/* ------ Fin du Footer ------ */