/* Fichier CSS pour le Projet 2: Développement de la maquette de l'index du site Reservia */

/* Définition d'options générales de la page*/
* {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
h1, h2 {
	font-weight: bold;
	font-size: 1.3em;
}
h3, h4 {
	font-weight: bold;
	font-size: 1em;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
header, main {
	margin: 0 40px 0 40px;
}



/* ------ Début du bloc entourant toute la page ------ */
#blockPage {
	/*background-color: lightblue;*/
	max-width: 1440px;
	margin: auto;
}
/* ------ Fin du bloc entourant la page ------ */



/* ------ Début du HEADER ------ */
/* Logo et navigation */
#logoNavigation {
	padding-top: 40px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* Logo */
#logoReservia {
	width: 97px;
	height: 45px;
}
/* Navigation */
#listeNavigation {
	width: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
#inscription {
	font-weight: bold;
}
/* Titre et description */
h1, h1 + p {
	margin-bottom: 10px;
}

/* Barre de recherche */
#barreDeRecherche {
	width: auto;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#pictoGPS {
	width: 50px;
	height: 50px;
	background-color: #F2F2F2;
	border-radius: 15px 0 0 15px;
	font-size: 1.3em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.saisieTexte {
	width: auto;
	height: 50px;
	border-style: solid;
	border-width: 2px 0 2px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.boutonDesktop {
	height: 50px;
	background-color: #0065FC;
	border-style: none;
	border-radius: 0 15px 15px 0;
	font-size: 1.3em;
	font-weight: bold;
	color: white;
}
.boutonSmartphone {
	width: 50px;
	height: 50px;
	background-color: #0065FC;
	border-style: none;
	border-radius: 15px 15px 15px 15px;
	font-size: 1.3em;
	font-weight: bold;
	color: white;
}

/* Barre de filtres */
#barreFiltres {
	height: 50px;
	margin: 30px 0 30px 0px ;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
/* Titre barre de filtres */
#pFiltres {
	margin-right: 20px;
}
/* Filtres */
.filtre {
	height: 44px;
	background-color: white;
	border: #F2F2F2 3px solid;
	border-left: none;
	border-radius: 35px;
	margin: 10px 30px 10px 10px;
	display: flex;
	align-items: center;
}
.pictoFiltre {
	width: 50px;
	height: 50px;
	background-color: #DEEBFF;
	border-radius: 50%;
	color: #0065FC;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titreFiltre {
	margin: auto;
	padding: 0 15px 0 10px;
}

/* Barre d'information */
#barreInformation {
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Raleway', sans-serif;
}
.pictoInformation {
	width: 30px;
	height: 30px;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	margin: 0 10px 0 0;
	color: #0065FC;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ------ Fin du HEADER ------ */



/* ------ Début du MAIN ------*/
/* Hébergements */
#blockHebergements {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Hébergements: article */
article {
	min-width: 375px;
	max-width: 66%;
	background-color: #F2F2F2;
	border-radius: 15px;
	font-family: 'Raleway', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.blockVignettesHebergements {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.figureHebergement {
	max-width: 275px;
	height: 210px;
	padding: 3px;
	border-radius: 15px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.vignetteHebergement {
	width: 100%;
	height: 135px;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
}
.infoHebergement {
	height: 75px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

/* Hébergements: aside */
aside {
	background-color: #F2F2F2;
	max-width: 33%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.blockVignettesPopulaires {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.figurePopulaire {
	background-color: white;
	min-width: 375px;
	max-height: 33%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.vignettePopulaire {
	width: 125px;
	height: 100%;
	object-fit: cover;
}

/* Activités à Marseille */
#sectionActivites {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
#PlacementActivites {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.figureActivite {
	max-width: 285px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
#imgSeule {
	width: 100%;
	height: 370px;
	object-fit: cover;
}
.largeurImgActivite {
	max-width: 285px;
}
.blockDeuxActivites {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
/* ------ Fin du MAIN ------ */



/* ------ Début du FOOTER ------ */
footer {
	max-width: 1440px;
	min-width: 375px;
	margin: auto;
	padding: 20px 0 20px 0;
	background-color: #F2F2F2;
	font-family: 'Raleway', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

/* Paramètres généraux des listes */
.listeFooter {
	min-width: 375px;
	width: 33%;
}
.puceListeFooter {
	font-size: 0.9em;;
}
/* ------ Fin du Footer ------ */